@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(67deg, #1e46a3 0%, #000 48.94%, #c12a23 99.97%)
    no-repeat center center fixed;
  height: 100vh;
  min-height: -webkit-fill-available;
}

body * {
  font-family: "Poppins", sans-serif;
}

#checkbox-container {
  color: #fffcf9;
  width: 100%;
  max-width: 21.875rem;
  margin: 0 auto;
  padding-top: 3.125rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

#checkbox-container div {
  width: 50%;
  padding-bottom: 0.313rem;
}

#checkbox-container input {
  transform: scale(1.5);
}

#checkbox-container label {
  padding-left: 0.625rem;
}

#titulo {
  width: 100%;
  max-width: 33.313rem;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

#titulo p {
  line-height: 50px;
  color: #fffcf9;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/*-------------------------------------------*/
#movie-container {
  display: none;
  width: 100%;
  max-width: 628px;
  margin: 30px auto 0;
}
/*-------------------------------------------*/
#movie-img img {
  margin: 12.4px 34px 10px 0;
  width: 10.6875rem;
  height: 15.1875rem;
}
/*-------------------------------------------*/
#movie-rank {
  display: flex;
  align-items: baseline;
}

#movie-rank p {
  color: #fffcf9;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}

#movie-rank span {
  color: #fffcf9;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 6px;
}
/*-------------------------------------------*/
#movie-title-desc {
  width: 100%;
  max-width: 628px;
}

#movie-title-desc h2 {
  color: #fffcf9;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 19.04px;
  text-align: center;
}

#movie-title-desc p {
  color: #fffcf9;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/*-------------------------------------------*/
#nome {
  color: #fffcf9;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#descricao {
  color: #fffcf9;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#providers-container {
  display: flex;
  width: 100%;
  max-width: 100%;
  padding: 1.25rem;
}

#provider-img img {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
}

#botao {
  width: 100%;
  max-width: 180.984px;
  margin: 30px auto 0;
  line-height: 47px;
  border-radius: 5px;
  border: 2px solid #1a1a1a;
  background: #e9e6e3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
}

#botao:hover {
  cursor: pointer;
}

#botao img {
  width: 100%;
  max-width: 35.565px;
}

#botao a {
  width: 100%;
  max-width: 98px;
  margin-left: 17px;
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#explicacao {
  width: 100%;
  max-width: 381px;
  margin: 26px auto 0;
  padding-bottom: 3.125rem;
  color: #fffcf9;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 625px) {
  #movie-container {
    flex-direction: column;
  }
  #movie-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #movie-img img {
    margin: auto;
  }

  #movie-title-desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #movie-title-desc p {
    padding: 1.25rem;
    text-align: center;
  }

  #movie-title-desc h2 {
    color: #fffcf9;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 19.04px;
    text-align: center;
  }
}
